/**
 * GFZ corporate design theme for reveal.js.
 * Author: Maximilian Dolling
 * fork from Achim Staebler's Solarized theme
 */

// Default mixins and settings -----------------
@import "../template/_fonts";
@import "../template/_colors";
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

/**
 * color palette from corporate design
 * http://media-intranet.gfz-potsdam.de/gfz/wv/%c3%96A/Richtlinien_Corporate-Design.pdf
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Override theme settings (see ../template/settings.scss)
$mainColor: $hai_blue;
$headingColor: $hai_darkblue;
$headingTextShadow: none;
$backgroundColor: $white;
$linkColor: $hai_green;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $base3;

$mainFont: 'SourceSans', sans-serif;
$mainFontSize: 36px;

//$headingFont: 'DejaVu Sans', Impact, sans-serif;
$headingFont: 'SourceSans', sans-serif;
$heading1Size: 2.77em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.25em;

// overwrite Background generator
@mixin bodyBackground() {
	background: $backgroundColor;
	background-image: url(images/helmholtz_ai_dark_footer.png);
    //    background-size: 25%, 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
