/**
 * GFZ corporate design theme for reveal.js.
 * Author: Maximilian Dolling
 * fork from Achim Staebler's Solarized theme
 */


// Default mixins and settings -----------------
@import "../template/_fonts";
@import "../template/_colors";
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

/**
 * color palette from corporate design
 * http://media-intranet.gfz-potsdam.de/gfz/wv/%c3%96A/Richtlinien_Corporate-Design.pdf
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Override theme settings (see ../template/settings.scss)
$mainColor: $white;
$headingColor: $white;
$headingTextShadow: none;
$backgroundColor: $base1;
$linkColor: $grey3;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $base3;
$mainFont: 'SourceSans', sans-serif;
$headingFont: 'SourceSans', sans-serif;

// overwrite Background generator
@mixin bodyBackground() {
	background: $backgroundColor;
	background-image: url(images/helmholtz_ai_thin.png), url(images/helmholtz_header_footer.png);
    background-size: 25%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 0%;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
