//== LOADING DEFAULT SETTINGS AND VARIABLES ==============
//-- default settings: ../template/settings.scss 
//-- default functions for color gradients: ../template/mixings.scss
@import "../template/_fonts";
@import "../template/_colors";
@import "../template/mixins";
@import "../template/settings";

/* Background color of the presentation */
$backgroundColor: $white;

/* Fonts */
$mainFont: 'SourceSans', sans-serif;
$headingFont: 'SourceSans', sans-serif;
$codeFont: monospace;

$mainFontSize: 40px;
$codeFontSize: 32px;
$mainColor: $hzdr-blue;

/* Vertical spacing between blocks of text */
$blockMargin: 5px;

/* Headings */
$headingColor: $mainColor;
$headingLineHeight: 1;
$headingTextShadow: none;
$headingMargin: 0 0 $blockMargin 0;
$headingLetterSpacing: 0.00em;

$heading1Size: 2.10em;
$heading2Size: $heading1Size;
$heading3Size: 1.50em;
$heading4Size: 1.00em;

/* Text selection colors */
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

/* Links and actions */
$linkColor: $hai_blue;
$linkColorHover: lighten( $linkColor, 20% );

/* Presentation background */
@mixin bodyBackground() {
	//background: $backgroundColor;
    //background-image: url('images/logo-hifis.svg');
    //background-size: auto 5.5%;
    //background-repeat: no-repeat;
    //background-position: 93% 6.0%; /*top right bottom left*/
	
	background: $backgroundColor;
	background-image: url(images/hifis-background.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;


}

//== LOADING DEFAULT THEME SETTINGS ======================
@import "../template/theme";
@import "../template/_boxes";


//== CUSTOM THEME SETTINGS ===============================
/* Variables */
$imageHeight: 1080px;
$textindent: 64px;
$titlepadding: 8%;
$slidespacingTop: 3.2em;
$slidespacingBottom: 3.2em;
$slideheight: calc($imageHeight - $slidespacingTop - $slidespacingBottom);
$headingTop: calc(-0.0 * $heading1Size); 
$sectionHeight: calc($imageHeight/1.25);
//:root {
//    --r-slight-height: #{$slideheight};
//}

/*********************************************
 * Global Custom Settings
 *********************************************/
.slides {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    vertical-align: middle !important;
    height: $imageHeight !important;
    //padding: $slidespacingTop 0 $slidespacingBottom 0 !important;
}

section {
    //position: absolute !important;
    display: flex !important;
    height: $sectionHeight;
    min-height: 100%;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
    padding: $slidespacingTop 0 $slidespacingBottom 0 !important;
}

/*********************************************
 * Custom Settings
 *********************************************/

/* Headings */
.reveal h1, 
.reveal h2 {
    position: fixed;
    top: 46px;
    left: $textindent;
    text-align: left;
    text-transform: capitalize;
    //text-indent: $textindent;
}

/* Title */
@mixin titlepos(){
    position: relative;
    top:-1px;
    //background-color: $hzdr-blue;
    color: $white;
    text-align: left;
    text-indent: $textindent;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    vertical-align: middle;
    margin: 0
}

.reveal h1.title{
    @include titlepos();
    text-transform: uppercase;
    padding: $titlepadding 0 0 0;
    font-weight: bold;
    left: 0;
}

p.subtitle {
    @include titlepos();
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 0.5rem 0 $titlepadding 0;
}

p.author,
p.date {
    @include titlepos();
    vertical-align: middle;
    font-size: 0.9em;
}

.reveal p {
    margin: 0px;
    line-height: 1.2; 
    text-align: left;
}

.reveal div {
    width: 90%;
    align: left;
}

.blockquote {
    display: inline;
    text-align: justify;
    width: auto;
    color: $grey1;
    font-style: italic;
    font-size: $mainFontSize;
    box-shadow: 0 0 25px rgba(20,20,20,0.5);
    line-height: 1.5;
    padding: 2%;
    margin:2%;
}
//.blockquote::before {
//  content: '<<';
//}
//.blockquote::after {
//  content: '>>';
//}


.reveal hr {
  display: block;
  margin: 1px 0;
  max-width: 1000em;
}

#refs {
  text-indent: 50px;
  text-align: left;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .slide-number {
    position: absolute;
    width: 4rem;
    height: 2.5rem;
    right: 0%;
    bottom: 0%;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.15);
}

.slide-number-a {
    //color: $hzdr-blue;
    color: $white;
    font-size: 25pt;
}

.controls-arrow {
  //top: 0px;
  bottom: 50px;
  margin-bottom: 1.7em;
}

/*********************************************
 * FOOTER
 *********************************************/
section > footer {
   position: fixed;
   text-align: left !important;
   display: table;
   font-size: 75%;
   width: 100%;
   bottom: 0;
   left: 3%;
   color: #2f3033;
 }

footer p {
    text-align: left !important;
    margin: 0;
}

/*********************************************
 * REFERENCE
 *********************************************/
div.references {
    font-size: 0.7em !important;
}

/*********************************************
 * COLUMNS
 *********************************************/
.columns {    
    display: table-cell;
    justify-content: center !important;
    vertical-align: middle !important;
    max-height: 100% !important;
}

/*********************************************
 * CODE
 *********************************************/
.reveal pre{
    margin: calc(var(--r-block-margin)*2) auto;
}

.reveal pre code{
    max-height: 600px !important;
    padding: calc($blockMargin*2);
}

code {
    line-height: 1.1; 
    position: relative;
    font-size: $codeFontSize !important;
}


/*********************************************
 * ENVIRONMENTS
 *********************************************/
div.thanks p {
    margin: 0.5rem;
    text-align: center !important;
    vertical-align: middle !important;
    font-size: 4rem;
}

ul ol, 
ul li 
{
    margin-left: 0.5rem;
    width: 100%; 
    padding-top: 2rem;
}

ul{
  display: inline;
  vertical-align: middle;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal img,
.reveal video,
.reveal iframe,
.reveal figure 
{
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  justify-content: center !important;
  vertical-align: middle;
  margin: 0;
  border: 0px solid #222;
  pointer-events: none;
  text-align: center;
}

.reveal figcaption {
    text-align: center;
    font-size: 0.9em;
}

